/*!
 * Author: James Qiu
 */

/* #mainNav{
    background: rgb(146,140,130);
} */

.team-photo{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-bottom: 10px;
}

#contact p{
    color: grey;
    margin-bottom: 0px;
}

/* .container{
    color: rgb(253,246,229)
} */

.team-contact{
    /*display: none;*/
}

.team-contact-mid{
    display: none;
}

#progress {
    background-color: #68615D;
}
/* 
#homeHeading{
    color: #000000;
}

#homeIntro{
    color: #000000;
} */



.box{
    background-color: rgb(146,140,130) !important;
    display: table-cell;
    border-radius:5px;
    padding: 5px;
    margin-bottom: 5px;
}
.text{
    color:white;
    text-align:center;
    padding: 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.wrapper {
    display: table;
    width: 100%;
}

.middle {
    display: table-cell;
    width: 3%;
}

@media (max-width: 770px){
    .not-available{
        display: none;
    }
}

@media (max-width: 900px) {
    .wrapper {
        display: inline-block;
    }

    .box {
        display: inline-block;
    }
}